创建一个人工数据集，并存储在csv(逗号分隔值)文件

In [ ]:
import os
os.makedirs(r'../data/basic_ops', exist_ok=True)
with open(r'../data/basic_ops/house_tiny.csv', 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

从刚刚的文件中加载数据

In [13]:
import pandas as pd
data = pd.read_csv(r'../data/basic_ops/house_tiny.csv')
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

为了处理缺失的数据，典型的方法包括插值和删除，这里，我们将考虑插值

In [ ]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
inputs['NumRooms'] = inputs['NumRooms'].fillna(inputs['NumRooms'].mean())
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对非数值类型的值进行分类

In [34]:
inputs = pd.get_dummies(inputs,dummy_na=True)
inputs = inputs.astype('float32')
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0         1.0        0.0
1       2.0         0.0        1.0
2       4.0         0.0        1.0
3       3.0         0.0        1.0

全部数据已经转化为数值类型，可以妆化为张量

In [35]:
import torch
x,y = torch.tensor(inputs.values), torch.tensor(outputs.values)
x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]]),
 tensor([127500, 106000, 178100, 140000]))